.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#root {
  margin: 5rem;
  word-spacing: 8px;
}
.App-header {
  background-color: #4b4b4b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  width: 800px;
  margin: auto;
  list-style-type: none;
}
.header {
  padding: 10px;
  color: white;
}
.main-table {
  border: 9px white solid;
  border-radius: 15px;
  background-color: #4b4b4b;
  margin: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.table {
  border: 2px white solid;
  border-radius: 15px;
  background-color: #2a2a2a;
  padding: 10px;
  margin: 10px;
}
.results {
  border: 2px white solid;
  display: flex;
  justify-items: auto;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
}
.score-place {
  display: flex;
  align-items: auto;
  justify-content: space-between;
}
